@import url('https://fonts.googleapis.com/css2?family=Sono&display=swap');

.add{
    border:none ;
    border-bottom: 1px solid black;
    margin-top: 20px;
    font-family: 'Sono', sans-serif;
}
.add::placeholder{
    text-align: center;
    font-size: 18px;
}

.submit{
    background-color: rgba(255,177,0,1);
    color: white;
    border: 1px solid white;
    margin-top: 20px;
    padding: 10px;
    font-family: 'Sono', sans-serif;
}
.submit:hover{
    background-color: white;
    color: rgba(255,177,0,1);
    border: 1px solid rgba(255,177,0,1);

}
