@import url('https://fonts.googleapis.com/css2?family=Sono&display=swap');

.add{
    border:none ;
    border-bottom: 1px solid black;
    margin-top: 20px;
    font-family: 'Sono', sans-serif;
}

.submit{
    background-color: rgb(108,172,255);
    color: white;
    border: 1px solid white;
    margin-top: 20px;
    padding: 10px;
    font-family: 'Sono', sans-serif;
}
.submit:hover{
    background-color: white;
    color: rgb(108,172,255);
    border: 1px solid rgb(108,172,255);

}
